@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* White background */
  --foreground: #000000; /* Dark text */
}

/* Add a focus state for better user experience */
input[type='text']:focus {
  outline: none;
  border-color: #007BFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #08192b; /* Enka dark blue */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://enka.network/video/shin-d.jpg') center/cover no-repeat;
  height: 60vh;
  text-align: center;
  color: rgb(255, 255, 255);
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* UID Input Styles */
input[type='text'] {
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .character-grid {
    grid-template-columns: 1fr;
  }
}